FORMAT: 1A
HOST: http://api.dailysmarty.com/

# DailySmarty

DailySmarty is a knowledge logging service that allows for users to share what they learn each day. The API allows for 3rd party clients to query posts and securely post to the system via the API.

## List All Posts [/posts]

### Most Recent Posts [GET]

+ Response 200 (application/json)

        [
            {
                "title": "Example of Creating a Service Object in Rails",
                "created_at": "2017-09-06 16:49:11 UTC",
                "content": "<p>Using service object in Rails can be a helpful design pattern to follow for organizing code and separting concerns in your controllers.</p><p>This is a helpful guide for learning how to add service objects in your Rails applications.</p>",
                "url": "http://www.dailysmarty.com/posts/example-of-creating-a-service-object-in-rails",
                "author": "jordan",
                "rating": 100,
                "topics": [
                    {
                        "title": "Development"
                    },
                    {
                        "title": "Ruby on Rails"
                    },
                    {
                        "title": "Design Patterns"
                    }
                ],
                "post_links": [
                    "url": "https://hackernoon.com/service-objects-in-ruby-on-rails-and-you-79ca8a1c946e?gi=518854af8434"
                ]
            }
        ]

### Create a New Post [POST]

You may create your own post using this action. It takes a JSON
object containing a title _(required)_, content, and array of post links.

+ Request (application/json)

        {
            "title": "Implementing the Facade Pattern in Rails 14",
            "content": "The Facade design pattern helps to streamline the setup code in Rails controllers and organize where initial values are stored. This guide provides helpful examples for how this can be implemented in a Rails app.",
            "post_links_attributes": [
                {
                    "link_url": "https://medium.com/kkempin/facade-design-pattern-in-ruby-on-rails-710aa88326f"
                },
                {
                    "link_url": "https://medium.com/@ryakh/facade-pattern-on-rails-d65b86cdb5b1"
                }
            ]
        }

+ Response 201 (application/json)

    + Headers

            Location: /questions/2

    + Body

            {
                "post": {
                    "id": 210,
                    "title": "Implementing the Facade Pattern in Rails 14",
                    "content": "The Facade design pattern helps to streamline the setup code in Rails controllers and organize where initial values are stored. This guide provides helpful examples for how this can be implemented in a Rails app.",
                    "created_at": "2017-09-21T23:16:03.822Z",
                    "url_for_post": "http://www.dailysmarty.com/posts/implementing-the-facade-pattern-in-rails-14-fd379746-1e26-47a5-bc3a-e3b6c82f1e61",
                    "post_links": [
                        {
                            "link_url": "https://medium.com/kkempin/facade-design-pattern-in-ruby-on-rails-710aa88326f"
                        },
                        {
                            "link_url": "https://medium.com/@ryakh/facade-pattern-on-rails-d65b86cdb5b1"
                        }
                    ]
                }
            }

## Query Posts [/posts?q=rails]

### Search for Posts [GET]

+ Response 200 (application/json)

        [
            {
                "title": "Example of Creating a Service Object in Rails",
                "created_at": "2017-09-06 16:49:11 UTC",
                "content": "<p>Using service object in Rails can be a helpful design pattern to follow for organizing code and separting concerns in your controllers.</p><p>This is a helpful guide for learning how to add service objects in your Rails applications.</p>",
                "url": "http://www.dailysmarty.com/posts/example-of-creating-a-service-object-in-rails",
                "author": "jordan",
                "rating": 100,
                "topics": [
                    {
                        "title": "Development"
                    },
                    {
                        "title": "Ruby on Rails"
                    },
                    {
                        "title": "Design Patterns"
                    }
                ],
                "post_links": [
                    "url": "https://hackernoon.com/service-objects-in-ruby-on-rails-and-you-79ca8a1c946e?gi=518854af8434"
                ]
            }
        ]