.registration-card-wrapper {
  width: 588px;
  margin-left: auto;
  margin-right: auto;

  .card {
    padding: 42px 30px 42px 30px;
  }
}

.edit-registration-card-wrapper {
  margin-left: auto;
  margin-right: auto;
  .card {
    padding: 80px 130px 80px 130px;
  }
}

.registration-img-wrapper {
  img {
    border-radius: 100px;
  }
}

@media #{$phone-query} {
  .registration-card-wrapper {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;

    .card {
      padding: 21px;
    }
  }
}

.submit-button-wrapper {
  margin-top: 15px;

  .btn {
    background-color: $dailysmarty-blue !important;
    border: 1px solid $dailysmarty-blue !important;
    width: 180px !important;

    &:hover {
      background-color: $dailysmarty-hover-blue !important;
      border: 1px solid $dailysmarty-hover-blue !important;
    }
  }
}

.submit-button-password-reset-wrapper {
  margin-top: 15px;

  .btn {
    background-color: $dailysmarty-blue !important;
    border: 1px solid $dailysmarty-blue !important;
    width: 225px !important;

    &:hover {
      background-color: $dailysmarty-hover-blue !important;
      border: 1px solid $dailysmarty-hover-blue !important;
    }
  }
}

.registration-heading {
  font-size: 15px;
  color: $dark-charcoal;
  margin-top: 21px;
  margin-bottom: 21px;
  font-weight: 900;
}

.devise-links {
  margin-top: 21px;
}

.registration-line-break {
  margin-top: 42px;
  margin-bottom: 42px;
  border-top: 1px solid $light-charcoal;
}

.take-me-back-btn {
  margin-top: 21px;
}

.image-upload-wrapper {

  input {
    display: none;
  }

  img {
    width: 113px;
    height: 113px;
    cursor: pointer;
    border-radius: 100px;
    filter: brightness(50%);
  }

  .registration-image-caption {
    font-family: $light-font;
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 11px;
    font-weight: 700;
    width: 110px;
    left: 18px;
    top: 27px;
    text-align: center;
    cursor: pointer;
  }
}

.social-link-wrapper {
  font-family: $light-font;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .facebook {
    display: flex;
    justify-content: space-between;
    a {
      color: #475993;
    }
  }
  .twitter {
    display: flex;
    justify-content: space-between;
    a {
      color: rgb(29, 161, 242);
    }
  }

  .delete-account {
    display: flex;
    justify-content: space-between;
    a {
      color: #FF4405;
    }
  }
}

.user-registration-form-fields {
  margin-top: 21px;

  .form-label {
    font-family: $light-font;
    font-weight: 700;
    font-color: $medium-charcoal;
    font-size: 14px;
  }

  input {
    border: 1px solid #D3DCE6;
    height: 50px;
    border-radius: 3px;
  }
}
