.registration-card-wrapper {
  width: 42vw;
  margin-left: auto;
  margin-right: auto;

  .card {
    padding: 80px 130px 80px 130px;
  }
}

.edit-registration-card-wrapper {
  margin-left: auto;
  margin-right: auto;
  .card {
    padding: 80px 130px 80px 130px;
  }
}

.registration-img-wrapper {
  img {
    border-radius: 100px;
  }
}

@media #{$phone-query} {
  .registration-card-wrapper {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;

    .card {
      padding: 21px;
    }
  }
}

.submit-button-wrapper {
  margin-top: 15px;

  .btn {
    background-color: $dailysmarty-blue !important;
    border: 1px solid $dailysmarty-blue !important;
    width: 180px !important;

    &:hover {
      background-color: $dailysmarty-hover-blue !important;
      border: 1px solid $dailysmarty-hover-blue !important;
    }
  }
}

.submit-button-password-reset-wrapper {
  margin-top: 15px;

  .btn {
    background-color: $dailysmarty-blue !important;
    border: 1px solid $dailysmarty-blue !important;
    width: 225px !important;

    &:hover {
      background-color: $dailysmarty-hover-blue !important;
      border: 1px solid $dailysmarty-hover-blue !important;
    }
  }
}

.registration-heading {
  font-size: 15px;
  color: $dark-charcoal;
  margin-top: 21px;
  margin-bottom: 21px;
  font-weight: 900;
}

.devise-links {
  margin-top: 21px;
}

.registration-line-break {
  margin-top: 42px;
  margin-bottom: 42px;
  border-top: 1px solid $light-charcoal;
}

.take-me-back-btn {
  margin-top: 21px;
}

.image-upload-wrapper {
  input {
    display: none;
  }

  img {
    width: 113px;
    height: 113px;
    cursor: pointer;
    border-radius: 100px;
  }
}
