.branding-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.content-wrapper {
  width: 660px;
}
.style-details {
  margin-top: 75px;
  margin-bottom: 75px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.style-details-text {
  text-align: right;
}
.style-details-text div {
  color: #808080;
  font-weight: normal;
}
.style-details-text h3 {
  margin-top: 30px;
}
.style-details-logo img {
  width: 100%;
}
.dos_donts_wrapper {
  margin-top: 75px;
  margin-bottom: 75px;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-gap: 30px;
}
.dont_image_box {
  text-align: center;
  margin-bottom: 20px;
}
.dos_donts_heading {
  font-weight: 900;
  margin-bottom: 20px;
  margin-left: 40px;
}
.blue_text {
  color: #0079ff;
}
.red_text {
  color: #dc0004;
}
.dont_image_box img {
  width: 50%;
}
.dont_image_box div {
  color: #999999;
  font-size: 14px;
}
.dos_donts_list li {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 16px;
}
.alternate_options_wrapper {
  margin-top: 75px;
  margin-bottom: 75px;
}
.alternate_options_wrapper h3 {
  color: #999999;
  font-size: 18px;
  font-weight: 900;
}
.alternate_options_wrapper li {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 19px;
}
.alternate_logo_images {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  grid-gap: 100px 40px;
}
.image_logos {
  width: 60%;
}
.text_logos {
  width: 90%;
}
.additional_branding_details {
  margin-top: 75px;
  margin-bottom: 75px;
}
.additional_branding_details a {
  color: #4fb8e8;
  font-size: 19px;
}
.additional_branding_details p {
  margin-bottom: 42px;
}
@media (max-width: 48em) {
  .style-details {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .style-details-text {
    text-align: center;
  }
  .dos_donts_wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
}
