/* Breadcrumb base credit to: https://codepen.io/Paulie-D/pen/b16eb69676be73626013d1308fec4749 */

#breadcrumb {
  list-style: none;
  display: inline-block;
  padding-left: 0px !important;
  margin-top: 15px;
  margin-bottom: 15px;
}
#breadcrumb .icon {
  font-size: 14px;
}
#breadcrumb li {
  float: left;
  font-size: .8rem;
}
#breadcrumb li a {
  color: #FFF;
  display: block;
  background: $dailysmarty-blue;
  text-decoration: none;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
}
#breadcrumb li:nth-child(even) a {
  background-color: $dark-charcoal;
}
#breadcrumb li:nth-child(even) a:before {
  border-color: $dark-charcoal;
  border-left-color: transparent;
}
#breadcrumb li:nth-child(even) a:after {
  border-left-color: $dark-charcoal;
}
#breadcrumb li:first-child a {
  padding-left: 15px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
#breadcrumb li:first-child a:before {
  border: none;
}
#breadcrumb li:last-child a {
  padding-right: 15px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
#breadcrumb li:last-child a:after {
  border: none;
}
#breadcrumb li a:before, #breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid $dailysmarty-blue;
  border-width: 20px 10px;
  width: 0;
  height: 0;
}
#breadcrumb li a:before {
  left: -20px;
  border-left-color: transparent;
}
#breadcrumb li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: $dailysmarty-blue;
}
#breadcrumb li a:hover {
  background-color: $dailysmarty-hover-blue;
}
#breadcrumb li a:hover:before {
  border-color: $dailysmarty-hover-blue;
  border-left-color: transparent;
}
#breadcrumb li a:hover:after {
  border-left-color: $dailysmarty-hover-blue;
}
#breadcrumb li a:active {
  background-color: #16a085;
}
#breadcrumb li a:active:before {
  border-color: #16a085;
  border-left-color: transparent;
}
#breadcrumb li a:active:after {
  border-left-color: #16a085;
}
