.navbar-light {
  border-bottom: 1px solid #E7E9EA;
  margin-bottom: 20px;
  height: 67px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 15px 0 rgba(0,0,0,0.09);
}

$toggle-height: 30px;
$toggle-width: 150px;
$switch-size: 30px;

$anim-slight-bounce: cubic-bezier(0.34,1.61,0.7,1);
$anim-speed-normal: 250ms;

$border-color: #dadde1;
$blue: #3ae39f; // Guidebook blue

.tgl {

  position: relative;
  display: inline-block;
  height: $toggle-height;
  cursor: pointer;

  > input {
    position: absolute;
    opacity: 0;
    z-index: -1; /* Put the input behind the label so it doesn't overlay text */
    visibility: hidden;
  }

  .tgl_body {
    width: $toggle-width;
    height: $toggle-height;
    background: white;
    border: 1px solid $border-color;
    display: inline-block;
    position: relative;
    border-radius: 3px;
  }

  .tgl_switch {
    width: $toggle-height;
    height: $toggle-height;
    display: inline-block;
    background-color: white;
    position: absolute;
    left: -1px;
    top: -1px;
    border-radius: 3px;
    border: 1px solid darken($border-color, 5%);
    @include box-shadow(0 2px 2px rgba(0,0,0,.13));
    @include transition(left $anim-slight-bounce $anim-speed-normal, transform $anim-slight-bounce $anim-speed-normal);
    z-index: 1;
  }

  .tgl_track {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 3px;
  }

  .tgl_bgd {
    position: absolute;
    right: -10px; // 10 compensates for animation bounce
    top: 0;
    bottom: 0;
    width: $toggle-width - ($switch-size / 2) + 10; // 10 compensates for animation bounce
    @include transition(left $anim-slight-bounce $anim-speed-normal, right $anim-slight-bounce $anim-speed-normal);
    background: $blue url('https://s3.amazonaws.com/bottega-devcamp/hand-raise-front-end/icons/active-xs-roboto.png') center center no-repeat;
  }

  .tgl_bgd-negative {
    right: auto;
    left: -($toggle-width - ($switch-size / 2));
    background: white url('https://s3.amazonaws.com/bottega-devcamp/hand-raise-front-end/icons/inactive-xs-roboto.png') center center no-repeat;
  }

  &:hover {
    .tgl_switch {
      border-color: darken($border-color, 13%);
      @include transform(scale(1.06));
    }
  }

  &:active {
    .tgl_switch {
      @include transform(scale(.95));
    }
  }

  > :not(:checked) ~ .tgl_body {

    > .tgl_switch {
      left: $toggle-width - $switch-size;
    }

    .tgl_bgd {
      right: -($toggle-width - ($switch-size / 2));

      &.tgl_bgd-negative {
        right: auto;
        left: -10px;
      }
    }
  }
}

.back {
  border: 1px solid transparent !important;
}

.nav-links a {
  margin-left: 20px;
  font-size: 2.42em;
}

.nav-forgot-password {
  font-size: 0.3em;
  margin-top: 15px;
}

.nav-text-box {
  border-radius: 3px;
  border: 1px solid $light-charcoal !important;
  margin-right: 5px;
}

.btn-sm-as-input {
  padding: 0.35rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1.3;
  margin-bottom: 2px;
  border-radius: 0.2rem;
}

.nav-text-box::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $light-charcoal;
  font-size: 0.8em;
  padding-left: 10px;
}
.nav-text-box::-moz-placeholder { /* Firefox 19+ */
  color: $light-charcoal;
  font-size: 0.8em;
  padding-left: 10px;
}
.nav-text-box:-ms-input-placeholder { /* IE 10+ */
  color: $light-charcoal;
  font-size: 0.8em;
  padding-left: 10px;
}
.nav-text-box:-moz-placeholder { /* Firefox 18- */
  color: $light-charcoal;
  font-size: 0.8em;
  padding-left: 10px;
}
