.navbar-light {
  border-bottom: 1px solid #E7E9EA;
  margin-bottom: 20px;
  height: 67px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 15px 0 rgba(0,0,0,0.09);
}

$toggle-height: 30px;
$toggle-width: 150px;
$switch-size: 30px;

$anim-slight-bounce: cubic-bezier(0.34,1.61,0.7,1);
$anim-speed-normal: 250ms;

$border-color: #dadde1;
$blue: #3ae39f; // Guidebook blue

.tgl {

  position: relative;
  display: inline-block;
  height: $toggle-height;
  cursor: pointer;

  > input {
    position: absolute;
    opacity: 0;
    z-index: -1; /* Put the input behind the label so it doesn't overlay text */
    visibility: hidden;
  }

  .tgl_body {
    width: $toggle-width;
    height: $toggle-height;
    background: white;
    border: 1px solid $border-color;
    display: inline-block;
    position: relative;
    border-radius: 3px;
  }

  .tgl_switch {
    width: $toggle-height;
    height: $toggle-height;
    display: inline-block;
    background-color: white;
    position: absolute;
    left: -1px;
    top: -1px;
    border-radius: 3px;
    border: 1px solid darken($border-color, 5%);
    @include box-shadow(0 2px 2px rgba(0,0,0,.13));
    @include transition(left $anim-slight-bounce $anim-speed-normal, transform $anim-slight-bounce $anim-speed-normal);
    z-index: 1;
  }

  .tgl_track {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 3px;
  }

  .tgl_bgd {
    position: absolute;
    right: -10px; // 10 compensates for animation bounce
    top: 0;
    bottom: 0;
    width: $toggle-width - ($switch-size / 2) + 10; // 10 compensates for animation bounce
    @include transition(left $anim-slight-bounce $anim-speed-normal, right $anim-slight-bounce $anim-speed-normal);
    background: $blue url('https://s3.amazonaws.com/bottega-devcamp/hand-raise-front-end/icons/active-xs-roboto.png') center center no-repeat;
  }

  .tgl_bgd-negative {
    right: auto;
    left: -($toggle-width - ($switch-size / 2));
    background: white url('https://s3.amazonaws.com/bottega-devcamp/hand-raise-front-end/icons/inactive-xs-roboto.png') center center no-repeat;
  }

  &:hover {
    .tgl_switch {
      border-color: darken($border-color, 13%);
      @include transform(scale(1.06));
    }
  }

  &:active {
    .tgl_switch {
      @include transform(scale(.95));
    }
  }

  > :not(:checked) ~ .tgl_body {

    > .tgl_switch {
      left: $toggle-width - $switch-size;
    }

    .tgl_bgd {
      right: -($toggle-width - ($switch-size / 2));

      &.tgl_bgd-negative {
        right: auto;
        left: -10px;
      }
    }
  }
}

.back {
  border: 1px solid transparent !important;
}

.nav-links {
  display: flex;
  justify-content: space-between;

  .nav-link {
    display: flex;
    justify-content: space-between;
    text-align: left !important;
    padding-top: 5%;
    padding-right: 21px;
    padding-left: 0px;
    padding-bottom: 32px;
    height: 67px !important;
    .posts-icon {
      display: flex;
      justify-content: space-between;
      path {
        fill: $light-charcoal !important;
      }
    }

    &:hover {
      border-bottom: 2px solid $dailysmarty-blue;
      path {
        fill: $dailysmarty-blue !important;
      }
    }

    a {
      display: flex;
      justify-content: space-between;
      margin-left: 31px;
      font-size: 14px;
      color: $light-charcoal;
      font-family: $light-font;
      font-weight: 500;
      &:hover {
        text-decoration: none;
        color: $dailysmarty-blue;
      }

      .nav-link-text {
        padding-left: 6px;
      }
    }

  }
}

a.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  top: 145%;
  left: -150px;
  border: 1px solid #D3DCE6;
  background-color: #FFFFFF;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.11);

  a.dropdown-item {
    color: $dropdown-grey;
    font-family: $light-font;
    font-size: 14px;
  }

  .dropdown-profile-icon {
    margin-right: 11px;
  }

  .dropdown-item:hover {
    background-color: transparent;
    color: $dailysmarty-blue !important;
  }

  .dropdown-list-item-icon {
    max-height: 12px;
    margin-left: -6px;
    margin-right: 8px;
    path {
      fill: $dropdown-grey !important;
    }
  }
}

/*

  border-right: solid 9px transparent;
  border-left: solid 9px transparent;
	border-bottom: solid 9px $very-light-grey;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  z-index: -1;
  content: '';
  bottom: 100%;
  left: 91%;
  height: 0;
  width: 0;

*/

.dropdown-menu:after, .dropdown-menu:before {
	bottom: 100%;
	left: 91%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.dropdown-menu:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #FFFFFF;
	border-width: 9px;
	margin-left: -9px;
}
.dropdown-menu:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #D3DCE6;
	border-width: 10px;
	margin-left: -10px;
}

a.logout-link {
  color: $dailysmarty-blue !important;
}

.nav-forgot-password {
  font-size: 0.3em;
  margin-top: 15px;
}

.nav-text-box {
  border-radius: 3px;
  border: 1px solid $light-charcoal !important;
  margin-right: 5px;
}

.btn-sm-as-input {
  padding: 0.35rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1.3;
  margin-bottom: 2px;
  border-radius: 0.2rem;
}

.nav-text-box::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $light-charcoal;
  font-size: 0.8em;
  padding-left: 10px;
}
.nav-text-box::-moz-placeholder { /* Firefox 19+ */
  color: $light-charcoal;
  font-size: 0.8em;
  padding-left: 10px;
}
.nav-text-box:-ms-input-placeholder { /* IE 10+ */
  color: $light-charcoal;
  font-size: 0.8em;
  padding-left: 10px;
}
.nav-text-box:-moz-placeholder { /* Firefox 18- */
  color: $light-charcoal;
  font-size: 0.8em;
  padding-left: 10px;
}
