.select2-selection__rendered {
  width: 300px !important;
}

.post-item-wrapper {
  margin: 10px 0px 10px 0px;

  img {
    width: 100% !important;
  }
}

.post-headline img {
  width: 100%;
}

.post-content img {
  width: 100% !important;
  height: auto !important;
}
