.post-item-wrapper {
  margin: 20px 0px 20px 0px;
  display: flex;
  justify-content: space-between;

  .image-item {
    display: flex;
    justify-content: space-between;
    margin-right: 35px;
    img {
      height: 84px;
      width: 119px;
      border-radius: 5px;
    }
  }

  .post-link-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
  }

  .post-metadata {
    display: flex;
    justify-content: space-between;
  }

  .post-votes {
    display: flex;
    justify-content: space-between;
  }
}

.post-headline img {
  width: 100%;
}

.post-content img {
  width: 100% !important;
  height: auto !important;
}

.topic-button {
  margin-bottom: 10px;
}

.post-topic-collapse-list {
  margin-bottom: 10px
}

.theme-card-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex !important;
  padding-right: 0px;
  flex-direction: row !important;
  justify-content: space-between;

  .theme-content-items {
    display: flex !important;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .theme-remove-link {
    display: flex !important;
    align-items: center;
    width: 42px;
    justify-content: center;
    font-size: 1.5em !important;

    &:hover {
      color: red;
    }
  }
}

.select2-selection__rendered {
  width: 420px !important;
}

.gist .gist-file {
  margin: 3em 0em 3em 0em !important;
}

.tab-content {
  margin-top: 21px;
}

.post-link-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*
 *  Usage:
 *
 *    <div class="sk-spinner sk-spinner-double-bounce">
 *      <div class="sk-double-bounce1"></div>
 *      <div class="sk-double-bounce2"></div>
 *    </div>
 *
 */
.sk-spinner-double-bounce.sk-spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0 auto;
}
.sk-spinner-double-bounce .sk-double-bounce1,
.sk-spinner-double-bounce .sk-double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #8BB634;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-doubleBounce 2s infinite ease-in-out;
  animation: sk-doubleBounce 2s infinite ease-in-out;
}
.sk-spinner-double-bounce .sk-double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
@-webkit-keyframes sk-doubleBounce {
  0%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes sk-doubleBounce {
  0%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.gist-meta {
  display: none;
}

h2 a {
  color: #1A1A1A;
  font-size: 22px;
  line-height: 30px;
  &:hover {
    color: $dailysmarty-hover-blue;
    text-decoration: none;
  }
}
