.post-item-wrapper {
  margin: 46px 0px 46px 0px;
  display: flex;
  justify-content: space-between;

  .image-item {
    display: flex;
    justify-content: space-between;
    margin-right: 35px;
    img {
      border-radius: 5px;
      object-fit: cover;
      width: 119px;
      height: 84px;
    }
  }

  .user-thumb img {
    max-width: 22px;
    min-width: 22px;
    max-height: 22px;
    min-height: 22px;
    object-fit: cover;
    border-radius: 100px;
    margin-right: 5px;
  }

  .post-link-title {
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    .topics {
      display: flex;
      a {
        font-weight: bold;
        font-size: 13px;
        line-height: 18px;
        font-family: $topic-font-family;
        margin-right: 10px;
      }
    }
  }

  .post-metadata {
    display: flex;
    color: #ababab;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    font-family: $submission-font-family;
    a {
      margin-left: 5px;
    }
  }

  .post-votes {
    display: flex;
    justify-content: space-between;
  }
}

.post-headline img {
  width: 100%;
}

.topic-button {
  margin-bottom: 10px;
}

.post-topic-collapse-list {
  margin-bottom: 10px;
}

.theme-card-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex !important;
  padding-right: 0px;
  flex-direction: row !important;
  justify-content: space-between;

  .theme-content-items {
    display: flex !important;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .theme-remove-link {
    display: flex !important;
    align-items: center;
    width: 42px;
    justify-content: center;
    font-size: 1.5em !important;

    &:hover {
      color: red;
    }
  }
}

.select2-selection__rendered {
  width: 420px !important;
}

.gist .gist-file {
  margin: 3em 0em 3em 0em !important;
}

.tab-content {
  margin-top: 21px;
}

.post-link-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*
 *  Usage:
 *
 *    <div class="sk-spinner sk-spinner-double-bounce">
 *      <div class="sk-double-bounce1"></div>
 *      <div class="sk-double-bounce2"></div>
 *    </div>
 *
 */
.sk-spinner-double-bounce.sk-spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0 auto;
}
.sk-spinner-double-bounce .sk-double-bounce1,
.sk-spinner-double-bounce .sk-double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #8bb634;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-doubleBounce 2s infinite ease-in-out;
  animation: sk-doubleBounce 2s infinite ease-in-out;
}
.sk-spinner-double-bounce .sk-double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
@-webkit-keyframes sk-doubleBounce {
  0%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes sk-doubleBounce {
  0%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.gist-meta {
  display: none;
}

h2 a {
  color: #1a1a1a;
  font-size: 22px;
  line-height: 30px;
  &:hover {
    color: $dailysmarty-hover-blue;
    text-decoration: none;
  }
}

.post-show-wrapper {
  @media screen and (min-width: 700px) {
    width: 660px;
  }
  @media screen and (max-width: 699px) {
    width: 100%;
  }
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  .post-details-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .post-content {
    font-family: Palatino;
    font-size: 19px;
    color: $dark-charcoal;
    overflow: overlay;
    img {
      width: 100% !important;
      height: auto !important;
    }
  }
  .post-metadata {
    font-family: $light-font;
    font-weight: 500;
    font-size: 15px;
    color: $light-grey;
    a {
      &:hover {
        text-decoration: none;
      }
    }
    .post-show-topic-item {
      font-family: $topic-font-family;
      font-size: 13px;
      font-weight: 900;
      margin-left: 10px;
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.post-link-card {
  width: 100%;
  padding-top: 42px !important;
}

.post-form-wrapper {
  .styled-text-field {
    height: 50px;
    width: 100%;
    border: 1px solid #d3dce6;
    border-radius: 3px;
  }

  .card {
    padding-top: 42px;
  }
}

.add-link-wrapper {
  a {
    color: #007aff;
    font-size: 14px;
    font-weight: 500;
    &:hover {
      text-decoration: none;
    }
  }
}

.remove-link {
  position: absolute;
  right: 29px;
  top: 43px;
  color: #ff2600;
  font-size: 28px;
}

.project-tag-fields input {
  border-radius: 3px;
  height: 50px;
  border: 1px solid #d3dce6;
  margin-bottom: 10px;
}

#post_post_status {
  height: 50px;
  width: 100%;
  border: 1px solid #d3dce6;
  border-radius: 3px;
  background-color: #ffffff;
  font-size: 14px;
  color: #4a4a4a;
  font-weight: 500;
}

iframe {
  width: 100%;
}
