.post-item-wrapper {
  margin: 10px 0px 10px 0px;

  img {
    width: 100% !important;
  }
}

.post-headline img {
  width: 100%;
}

.post-content img {
  width: 100% !important;
  height: auto !important;
}

.topic-button {
  margin-bottom: 10px;
}

.post-topic-collapse-list {
  margin-bottom: 10px
}

.theme-card-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex !important;
  padding-right: 0px;
  flex-direction: row !important;
  justify-content: space-between;

  .theme-content-items {
    display: flex !important;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .theme-remove-link {
    display: flex !important;
    align-items: center;
    width: 42px;
    justify-content: center;
    font-size: 1.5em !important;

    &:hover {
      color: red;
    }
  }
}

.select2-selection__rendered {
  width: 420px !important;
}

.gist .gist-file {
  margin: 3em 0em 3em 0em !important;
}
