.user-profile-heading-wrapper {
  margin-top: 46px;
  margin-bottom: 30px;

  img {
    max-width: 58px;
    min-width: 58px;
    max-height: 58px;
    min-height: 58px;
    object-fit: cover;
    border-radius: 100px;
    margin-right: 25px;
  }
}
