.user-profile-heading-wrapper {
  margin-top: 46px;
  margin-bottom: 30px;

  img {
    max-width: 58px;
    min-width: 58px;
    max-height: 58px;
    min-height: 58px;
    object-fit: cover;
    border-radius: 100px;
    margin-right: 25px;
  }

  .profile-stats {
    font-size: 15px;
    font-weight: 700;
    font-family: $light-font;
    .count {
      color: black;
    }
    .stat-item {
      color: $light-grey;
    }
  }
}

.no-posts-wrapper {
  margin-top: 42px;
}
