.topic-grouping {
  margin-bottom: 42px;
  border-bottom: 1px solid #ededed;
  padding-bottom: 42px;
}

.post-img {
  margin: 21px 0px 21px 0px;
  border-radius: 3px;
  border: 1px solid $dailysmarty-blue;

  img {
    width: 100%;
  }
}
