.user-index-wrapper {
  .card {
    padding-top: 42px;

    .user-record-wrapper {
      margin-top: 10px;
      margin-bottom: 10px;

      .user-details {
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #E2E2E2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .username-link {
          color: #1A1A1A;
          font-size: 22px;
          &:hover {
            text-decoration: none;
          }
        }
        .post-data {
          color: #ABABAB;
          font-size: 15px;
          font-weight: 500;
        }
      }

      img {
        margin-top: 21px;
        min-height: 58px;
        max-height: 58px;
        max-width: 58px;
        max-width: 58px;
        object-fit: cover;
        border-radius: 100px;
      }
    }
  }
}
