$dailysmarty-blue: #007AFF;
$dailysmarty-hover-blue: #0069DE;
$dark-charcoal: #333333;
$medium-charcoal: #4A4A4A;
$light-charcoal: #6B6B6B;
$off-white: #F3F3F3;
$very-light-grey: #F7F7F7;
$near-black: #1A1A1A;
$light-grey: #ABABAB;
$grey-white: #C0C2C3;
$dropdown-grey: #ADB6BE;

$heading-font-family: 'LatoLight';
$topic-font-family: 'LatoBold';
$submission-font-family: 'LatoLight';
$light-font: 'LatoLight';

$phone-query: "only screen and (max-width : 400px)";
