.downvote {
  color: red;
}

.upvote {
  color: $dailysmarty-blue;
}

.novote {
  color: grey;
}

.vote-counter {
  font-weight: 900;
  margin-left: 2px;
  font-size: 1.25em;
  color: $dailysmarty-blue;
}

.score-wrapper {
  text-align: center;
  font-weight: 900;
  color: grey;
  font-size: 0.8em;
}
