.downvote {
  color: red;
}

.upvote {
  color: $dailysmarty-blue;
}

.novote {
  color: $light-grey;
}

.vote-counter {
  font-family: $light-font;
  font-weight: 500;
  color: #000000;
  font-size: 15px;
}

.score-wrapper {
  font-family: $light-font;
  text-align: center;
  font-weight: 500;
  color: grey;
  font-size: 15px;
}
